.menu {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.3);

    height: 60px;
    top: 12px;
    left: 12px;
    right: 12px;
    border-radius: 30px;

    font-size: 35px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 20px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.menu-logo>img {
    margin-top: 5px;
    margin-left: 5px;
    height: 35px;

}

.menu-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

}

.menu-links>button {
    background-color: #105272;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 35px;
    width: 70px;
}

.menu-links>button>* {
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.menu-link {
    text-decoration: none;
    color: #105272;
    font-size: 15px;

}