.form {
    position: absolute;
    top: 50%;
    left: 25%;

    margin-top: -250px;
    margin-left: -250px;

    height: 535px;
    width: 500px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    gap: 10px;
    background-color: rgba(240, 240, 240, 0.6);
    border-radius: 10px;


    backdrop-filter: blur(15px);
}




.form>h1 {
    width: 400px;
    color: #105272;
}

.form>label {

    position: relative;
}

.form>label>img {
    position: absolute;
    right: 10px;
    bottom: 5px;
    height: 30px;
    width: 30px;
}

.form>label>input {

    position: relative;

    width: 400px;
    height: 40px;
    border-width: 0px;
    border-radius: 3px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    /* overwrite the bottom border */

    border-bottom-color: #105272;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    background: none;

    font-size: 20px;
    transition: 0.15s all;
}

.form>label>input:focus {
    outline: none;
    border-style: solid;
    background-color: rgba(240, 240, 240, 1);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-color: #105272 !important;

    border-bottom-width: 2px;
}

.form>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100px;
}



.noError {
    opacity: 0;
    transition: all 0.05s;
}

.noError>span {
    opacity: 0;
    transition: all 0.05s;
}

.isError {
    opacity: 1;
    transition: all 0.05s;
}

.isError>span {
    opacity: 1;
    transition: all 0.05s;
}


.error {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(15px);
    color: #5E0303;
    font-size: 20px;
    font-weight: 700;

    display: flex;
    align-items: center;

    gap: 5px;
    width: 400px;
    height: 40px;

    padding-left: 5px;

    border-radius: 5px;
    border: 1px solid #5E0303;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.15s;
}

.error>span {

    color: #105272;
    font-weight: 600;
}

.form>label>h2 {

    color: #105272;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
}


.forgot {
    color: #105272;
    font-size: 15px;
    text-decoration: none;
    font-weight: 600;
}

.forgot:hover {
    text-decoration: underline;
}

.form>button {
    width: 400px;
    height: 60px;

    margin-top: -50px;
    margin-bottom: 10px;

    border-width: 0px;
    border-radius: 10px;

    background-color: #105272;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.15s all;
}

.form>button:hover {
    color: #99CBE4;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}