.form {
    position: absolute;
    top: 50%;
    left: 25%;

    margin-top: -250px;
    margin-left: -250px;

    height: 535px;
    width: 500px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    gap: 30px;
    background-color: rgba(240, 240, 240, 0.6);
    border-radius: 10px;


    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}




.form>h1 {
    width: 400px;
    color: #105272;
}

.form>label {

    position: relative;
}

.form>label>img {
    position: absolute;
    right: 10px;
    height: 30px;
    width: 30px;
}

.form>label>input {

    position: relative;

    width: 400px;
    height: 35px;
    border-width: 0px;

    /* overwrite the bottom border */

    border-bottom-color: #105272;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    background: none;

    font-size: 20px;
}

.form>label>input:focus {
    outline: none;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

    border-bottom-color: #105272 !important;

    border-bottom-width: 1px;
}

.form>button {
    width: 400px;
    height: 60px;

    border-width: 0px;
    border-radius: 10px;

    background-color: #105272;
    color: white;
    font-size: 20px;
    cursor: pointer;
}